{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <div align="center">
    <button typa="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
<div class="container mt-5">
{% if notes%}
    {% for note in user.notes %}
    <div class="card mb-2">
  <div class="card-body">
    <h2 class="card-title mb-2">Note id: {{note.id}}</h2>
    <h6 class="card-subtitle mt-2 text-muted" style="font-size: 12px;">Date created: {{note.date}}</h6>
    <p class="card-text mt-2" align="start">{{note.data}}</p>
    <div class="text-center">
    <button class="btn btn-danger close" name="delete_note" align="center" onClick="deleteNote({{note.id}})">Delete</button>
  </div>
  </div>
</div>
    {% endfor %}
{% endif %}
</div>
<h4 align="center" class="mt-5">Number of notes <kbd>{{number_of_notes}}</kbd></h2>
{% endblock %}
