{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter name"
    />
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Create password"
    />
    <div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>
<div class="mb-3 mt-3">
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm your password again"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
